.footer{
    display:flex;
    align-items:center;
}
.custom-color{
    background-color: #f7f9fa;
}
.footer-logo{
    width:200px;
    margin-left: 570px;   
}
.text-size{
    font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(0 1px 2px #575757);
}
.copyright{
    margin-left: 720px;
    font-size: 20px
}
.fa-facebook-square{
    font-size: 30px;
    color: rgb(23 165 251);
    fontweight: bold;
}
.fa-twitter-square{
    font-size: 30px;
    margin-left: 20px;
    color: rgb(23 165 251);
}
.fa-youtube{
    font-size: 30px;
    margin-left: 20px;
    color: rgb(255 0 0);
}
.fa-google-plus{
    font-size: 30px;
    margin-left: 20px;
    color: rgb(255 0 0);
}
